@import 'theme';

.game-table {
  position: absolute;
  @include fullscreen;
  @include center;
}

.game-stack-spacer {
  width: 20vw;
}

.game-player {
  //may be needed for more space...
  //font-size: 0.8em;
  position: absolute;
  bottom: -4em;
}

.game-opponent-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  &.top, &.bottom {
    width: 80vw;
    height: 10em;
  }

  &.left, &.right {
    height: 80vh;
    width: 10em;
  }

  &.top {
    top: -2.5em;
    flex-direction: row-reverse;
  }

  &.left {
    left: -3em;
    flex-direction: column;
  }

  &.right {
    right: -3em;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.timer-container {
  position: absolute;
  bottom: 1em;
  left: 25vh;
}