@import 'theme';

.app-container {
  position: absolute;
  @include fullscreen;
  @include center;
  overflow: hidden;
  transition: 0.3s;

  &.blur {
    filter: blur(0.3em);
  }
}

.app-container.animated {
  pointer-events: none;
}

.back-button {
  position: absolute;
  top: 0.5em;
  left: 0.8em;
}

.help-button {
  position: absolute;
  top: 0.5em;
  right: 1.5em;
}