@import 'theme';

.app-container {
  position: absolute;
  @include fullscreen;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.app-container.animated {
  pointer-events: none;
}

.back-button {
  position: absolute;
  top: 0.5em;
  left: 0.8em;
}

.help-button {
  position: absolute;
  top: 0.5em;
  right: 1.5em;
}