@import 'theme';

.mainmenu-item {
  margin: 0;
  color: $terracotta;
  font-size: 36px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: lowercase;
  text-shadow: $dropShadow;
  transition: 0.3s;
}

.mainmenu-item:hover {
  filter: brightness(125%);
}