@import 'theme';

.player-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.player-item {
  width: 100%;
  height: 2.8em; // see transition in PlayerList.js!
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $blueMediumGray;
  box-shadow: $dropShadow;
  margin: 0.6em 0;
  padding: 0.6em 0.9em 0.6em 0.6em;
  border-radius: 0.3em;
  box-sizing: border-box;
}

.player-item-text {
  margin: 0;
  width: 100%;
  text-transform: none;
  font-weight: 500;
}

.player-item-avatar {
  flex-shrink: 0;
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  padding: 0.2em;
  box-sizing: border-box;
  background-color: $blueLightGray;
  margin-right: 0.5em;
}

.player-item-decor {
  fill: $terracotta;
  width: 1.7em;
  height: 1.7em;

  &.clickable {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.2em;
    @include clickable;
  }
}