@import 'theme';

.tab-container {
  width: 100%;
  border-radius: 0.3em;
}

.tab-header-container {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding: 1em;
}

.tab-header {
  fill: $terracotta;
  color: $terracotta;
  background-color: $blueMediumGray;
  font-size: $fontSizeSmallHeader;
  font-weight: 500;
  text-transform: lowercase;
  line-height: 1em;
  padding: 0.5em 1em;
  margin: 0 0.5em;
  border-radius: 1em;
  flex-grow: 1;
  @include clickable;
  display: flex;
  align-items: center;
  justify-content: center;

  &.selected {
    fill: $blueGray;
    color: $blueGray;
    background-color: $terracotta;
    flex-grow: 2;
  }
}

.tab-content {
}