@import 'theme';

$uiBorderRadius: 0.3em;

// Input

.input-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.input-title {
  margin: 0 0 0.2em;
  text-transform: lowercase;
}

.input-input {
  background-color: $bgLighter;
  border: none;
  border-radius: $uiBorderRadius;
  color: $textColor;
  height: 1.9em;
  width: 100%;
  padding: 0 0.5em;
  box-sizing: border-box;
  font-family: $themeFont;
  font-weight: 300;
  font-size: $fontSizeInput;

  &.action {
    border-radius: $uiBorderRadius 0 0 $uiBorderRadius;
  }

  &.search {
    height: 2.2em;
    font-size: $fontSizeDefault;
    padding: 0 1em;
    box-shadow: $dropShadow;

    &::placeholder {
      text-transform: lowercase;
      color: $textColor;
    }
  }
}

.input-action {
  padding: 0 0.5em;
  min-width: 5.5em;
  border: none;
  background-color: $accent;
  color: $bgMedium;
  font-family: $themeFont;
  font-size: $fontSizeDefault;
  text-transform: lowercase;
  border-radius: 0 $uiBorderRadius $uiBorderRadius 0;
  flex-shrink: 0;
  @include clickable;

  &.search {
    box-shadow: $dropShadow;
  }
}

// Search Bar

.search-refresh {
  width: 2.2em;
  height: 2.2em;
  fill: $accent;
  margin-left: 1em;
  filter: drop-shadow($dropShadow);

  @include clickable;
}

// Button

$buttonHeight: 1.75em;

.button-container {
  font-size: $fontSizeButton;
  height: $buttonHeight;
  border: none;
  border-radius: $uiBorderRadius;
  padding: 0 0.5em;
  @include clickable;

  &.primary {
    background-color: $accent;
    color: $bgMedium;
    font-weight: 600;
    box-shadow: $dropShadow;
  }

  &.secondary {
    background-color: transparent;
    color: $accent;
    font-weight: 300;
  }

  &.end-turn {
    background-color: $accent;
    color: $bgDark;
    font-weight: 600;
    box-shadow: $dropShadow;
  }
}

.button-text {
  text-transform: lowercase;
  font-family: $themeFont;
  line-height: $buttonHeight;
  margin: 0;
  position: relative;
}

// Header

.header {
  display: block;
  margin-top: 0;
  margin-bottom: 0.7em;
  color: $accent;
  font-family: $themeFont;
  font-size: $fontSizeDefault * 2;
  height: 1.4em;
  font-weight: 600;
  border-bottom: 0.09em solid $bgLighter;
  text-transform: lowercase;

  &.small {
    font-size: $fontSizeSmallHeader;
  }
}

// IconTitle
.icon-title {
  display: flex;
  align-items: center;
}

.icon-title-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  margin-right: 0.5em;
}

// Separator

.step-container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  user-select: none;
}

.step-number {
  width: 2em;
  height: 2em;
  color: $bgMedium;
  background-color: $accent;
  border-radius: 50%;
  font-weight: 700;
  @include center;
}

.step-title {
  color: $accent;
  font-size: $fontSizeSmallHeader;
  font-weight: 500;
  margin: 0;
  line-height: 1em;
  text-transform: lowercase;
  text-align: center;
}

.step-separator {
  border-bottom: 0.12em solid $accent;
  flex-grow: 1;
  margin: 0.5em;

  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }

  // there is no title if line is second child
  &:nth-child(2) {
    margin-left: -0.5em;
  }
}

// SingleSelect

.singleselect-container {
  @include center;
}

.singleselect-item {
  background-color: $bgLighter;
  border: none;
  color: $textColor;
  height: 1.65em;
  width: 100%;
  font-family: $themeFont;
  font-weight: 300;
  font-size: $fontSizeDefault;
  text-transform: lowercase;
  @include clickable;
  transition: all 0.3s, font-weight 0s;

  &:first-of-type {
    border-radius: $uiBorderRadius 0 0 $uiBorderRadius;
  }

  &:last-of-type {
    border-radius: 0 $uiBorderRadius $uiBorderRadius 0;
  }

  &.active {
    background-color: $accent;
    color: $bgMedium;
    font-weight: 400;
  }
}

//Switch

.switch-title {
  width: 100%;
  height: 1.5em;
  line-height: 1.5em;
  margin: 0;
  text-transform: lowercase;
}

.switch-description {
  color: $accent;
  flex-shrink: 0;
  height: 1.5em;
  line-height: 1.5em;
  margin: 0;
  text-transform: lowercase;
  font-weight: 300;

  &:first-of-type {
    margin-right: 1em;
  }

  &:last-of-type {
    margin-left: 1em;
  }
}

.switch-container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.switch-rail {
  cursor: pointer;
  flex-shrink: 0;
  width: 3em;
  height: 1.5em;
  border-radius: 1.5em;
  background-color: $bgLighter;
}

.switch-nob {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background-color: $accent;
  box-shadow: $dropShadow;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(110%);
  }
}

// Spinner

.spinner {
  width: 5em;
  height: 5em;
  fill: $accent;

  &.center {
    @include fillCenter;
  }
}

// Player Avatar
.player-avatar {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  padding: calc(1em / 7);
  background-color: $bgLighter;
  pointer-events: all;
  transition: 0.3s;
  box-sizing: border-box;

  &.active {
    border: 0.04em solid $accent;
    box-shadow: 0 0 0.2em $accent;
  }
}

// Toast Message

.toast-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: center;
}

.toast-transition {
  position: absolute;
  bottom: 1em;
}

.toast-message {
  padding: 0.3em 0.8em 0.3em 0.5em;
  border-radius: 0.3em;
  background-color: $accent;
  color: $bgMedium;
  font-weight: 500;
  box-shadow: $dropShadow;
}