@import 'theme';


.input-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.input-input.action {
  border-radius: 5px 0 0 5px;
 }

.input-title {
  margin: 0 0 5px;
}

.input-input {
  background-color: $blueLightGray;
  border: none;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;
  font-family: $themeFont;
  font-weight: 300;
  font-size: 16px;
}

.input-action {
  cursor: pointer;
  padding: 0 10px;
  min-width: 100px;
  border: none;
  background-color: $terracotta;
  color: $blueGray;
  font-family: $themeFont;
  font-size: 18px;
  border-radius: 0 5px 5px 0;
  transition: 0.3s;
  flex-shrink: 0;
}
.input-action:hover {
  filter: brightness(110%);
}
.input-action:active {
  transform: scale(0.95);
}

$buttonHeight: 35px;

.button-container {
  height: $buttonHeight;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-transform: lowercase;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.3s;
}
.button-container:hover {
  filter: brightness(110%);
}
.button-container:active {
  transform: scale(0.95);
}

.button-container.primary {
  background-color: $terracotta;
  color: $blueGray;
  font-weight: 600;
  box-shadow: $dropShadow;
}

.button-container.secondary {
  background-color: transparent;
  color: $terracotta;
  font-weight: 300;
}

.button-text {
  font-family: $themeFont;
  line-height: $buttonHeight;
  margin: 0;
  position: relative;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}