@import 'theme';

.window-container {
  color: white;
  background-color: $blueGray;
  border-radius: 0.8em;
  overflow: hidden;
  box-shadow: $dropShadow;
  padding: 0;
}

.window-header {
  background-color: $terracotta;
  font-size: $fontSizeHeader;
  color: $blueGray;
  height: 1.8em;
  margin: 0;
}

.window-title {
  margin: 0 0.7em;
  font-size: $fontSizeHeader;
  height: 100%;
  width: 100%;
  line-height: 2em;
  font-weight: 600;
  text-transform: lowercase;
  text-align: left;
}

.window-body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 1.8em);
  max-height: calc(100% - 1.8em);
  overflow-y: auto;
  @include scrollbar;
}

.window-content {
  min-height: 5em;
  margin: 2em;
}