@import 'theme';

// Draw Stack

.card-stack {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 2.8 * 3.1em + 0.5em;
}

.card-stack-card {
  width: 0.1em;
}

.draw-stack-animation {
  position: absolute;
  animation: draw-card 0.5s 1;
  opacity: 0;
}

@keyframes draw-card {
  0% {
    opacity: 1;
    transform: translateX(0%) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-200%) rotate(180deg);
  }
}

// Discard Pile

.discard-pile {

}