@import 'theme';

.turn-timer-container {
  display: flex;
  justify-content: flex-start;
  text-shadow: $dropShadow;
}

$timerSize: 2em;

.turn-timer {
  flex-shrink: 0;
  height: $timerSize;
  width: $timerSize;
  display: block;
  position: relative;
  border-radius: 50%;
  filter: drop-shadow($dropShadow);
  //transform: scaleX(-1);
}

.turn-timer-spinner {
  flex-shrink: 0;
  fill: $terracotta;
}

.turn-timer-seconds {
  flex-shrink: 0;
  color: $terracotta;
  margin: 0 0 0 0.5em;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: 500;
}