/* Theme Colors */
$terracotta: #E0745C;
$blueBlack: #333840;
$blueGray: #484D59;
$blueMediumGray: #5B6171;
$blueLightGray: #676E80;

//$availableCardColor: #5dde5d;
$availableCardColor: #43de43;

/* Font stuff */
$themeFont: 'Montserrat', sans-serif;
$rootFontSize: 18px; // this is rem

$fontSizeDefault: 1rem;
$fontSizeInput: 0.89rem; // 16px
$fontSizeHeader: 2.66rem; // 48px
$fontSizeSmallHeader: 1.38rem; // 25px
$fontSizeCaption: 1.66rem; // 30px
$fontSizeChat: 0.77rem; // 14px
$fontSizeButton: 1.11rem; // 20px


/* Our standard drop-shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

/* some common css stuff */
@mixin fullscreen {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

@mixin fillCenter {
  width: 100%;
  height: 100%;
  @include center;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin clickable {
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
  &:hover {
    filter: brightness(110%);
  }
  &:active {
    transform: scale(0.95);
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 0.36rem;
    height: 0.36rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.18rem;
    -webkit-box-shadow: inset 0 0 0.36rem rgba(0,0,0,.3);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.18rem;
    background-color: $blueMediumGray;
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;

  &:hover {
    filter: none;
    transform: none;
  }
}