/* Theme Colors */
$terracotta: #E0745C;
$blueBlack: #333840;
$blueGray: #484D59;
$blueLightGray: #676E80;

/* Our standard drop-shadow */
$dropShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* some common css stuff */
@mixin fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
}