/* Theme Colors */
$terracotta: #E0745C;
$blueBlack: #333840;
$blueGray: #484D59;
$blueMediumGray: #5B6171;
$blueLightGray: #676E80;

/* Font stuff */
$themeFont: 'Montserrat', sans-serif;
$fontSizeDefault: 18px;
$fontSizeInput: 16px;
$fontSizeHeader: 48px;
$fontSizeSmallHeader: 24px;
$fontSizeCaption: 30px;
$fontSizeChat: 14px;
$fontSizeButton: 20px;


/* Our standard drop-shadow */
$dropShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* some common css stuff */
@mixin fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
}

@mixin clickable {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    filter: brightness(110%);
  }
  &:active {
    transform: scale(0.95);
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $blueMediumGray;
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;

  &:hover {
    filter: none;
    transform: none;
  }
}