@import 'theme';

a {
  text-decoration: none;
  color: white;
}

html {
  @include fullscreen;
}

body {
  @include fullscreen;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $blueBlack;
  font-size: 18px;
  font-weight: 300;
}

#root {
  @include fullscreen;
}
