@import 'theme';
@import 'ui/cards/colors';

.friday-the-13th-animation {
  position: relative;
  @include center;
  flex-direction: column;


  & .house {
    position: relative;
    width: 13em;
    height: 7.5em;
    margin-top: 0.3em;
    background: $terracotta;
  }

  & .roof {
    border-bottom: 3em solid $terracotta;
    border-left: 2.5em solid transparent;
    border-right: 2.5em solid transparent;
    height: 0;
    width: 11em;
  }

  & .chimney {
    width: 1.5em;
    height: 1.6em;
    background: $terracotta;
    position: absolute;
    right: 4.5em;
    top: -1.8em;

  }

  & .window {
    width: 3.2em;
    height: 3.2em;
    background: $blueBlack;
    position: absolute;
    animation: tv-flickering 1.8s infinite;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom,
              transparent 45%, $terracotta 45%,
              $terracotta 55%, transparent 55%),
      linear-gradient(to right, transparent 45%, $terracotta 45%,
                      $terracotta 55%, transparent 55%);
    }

    &:nth-child(1) {
      position: absolute;
      left: 2.2em;
      top: 2.2em;
    }

    &:nth-child(2) {
      position: absolute;
      right: 2.2em;
      top: 2.2em;
    }


  }

  & .killer {
    position: absolute;

    & .killer-mask {

      fill: $green;
      width: 140%;
      height: auto;
      left: 3em;
      bottom: 5em;
      animation: freddy-peeking 2.5s forwards;
      animation-delay: 1s;
    }

    & .killer-body {
      position: absolute;
      border: 0.19em solid $green;
      border-radius: 1em 1em 0 0;
      height: 1.5em;
      width: 2.5em;
      bottom: 0.2em;
      animation: move-body 2.5s forwards;
      animation-delay: 1s;
    }

    & .cleaver {}


  }



}

@keyframes freddy-peeking {
  100% {
    //left: -1.5em;
    //bottom: 2.5em;
    transform:  translate(-1.75em, -1.8em) rotate(-27deg);
  }
}

@keyframes move-body {
  100% {
    transform: rotate(-27deg) translate(-0.7em, -0.7em);
  }
}

@keyframes tv-flickering {
  10% {
    background:  lighten($black, 30%);
  }
  15% {
    background: $black;
  }
  25% {
    background: lighten($black, 40%);
  }
  40% {
    background: $black;
  }
  55% {
    background: lighten($black, 30%);
  }
  65% {
    background: $black;
  }
  80% {
    background: lighten($black, 40%);
  }
  100% {background: $black;
  }

}

