@import 'theme';
@import 'ui/cards/colors';

.friday-the-13th-animation {
  position: relative;
  @include center;
  flex-direction: column;


  & .house {
    position: relative;
    width: 13em;
    height: 7.5em;
    background: $terracotta;
  }

  & .roof {
    border-bottom: 3em solid $terracotta;
    border-left: 2.5em solid transparent;
    border-right: 2.5em solid transparent;
    height: 0;
    width: 11em;
  }

  & .chimney {
    width: 1.5em;
    height: 1.6em;
    background: $terracotta;
    position: absolute;
    right: 4.5em;
    top: -1.5em;

  }

  & .window {
    width: 3.2em;
    height: 3.2em;
    background: $blueBlack;
    position: absolute;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom,
              transparent 45%, $terracotta 45%,
              $terracotta 55%, transparent 55%),
      linear-gradient(to right, transparent 45%, $terracotta 45%,
                      $terracotta 55%, transparent 55%);
    }

    &:nth-child(1) {
      position: absolute;
      left: 2.2em;
      top: 2.2em;
    }

    &:nth-child(2) {
      position: absolute;
      right: 2.2em;
      top: 2.2em;
    }


  }

  .freddy-mask {
    position: absolute;
    fill: $terracotta;
    width: 14%;
    height: auto;
    transform: rotate(-25deg);
    left: -2em;
    bottom: 1.5em;
  }


}

