@import 'theme';

.themepicker-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.themepicker-theme {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 3em;
  width: 6em;
  overflow: hidden;
  border-radius: 0.3em;
  box-shadow: $dropShadow;
}

.themepicker-name {
  margin: 1em 0 0;
  pointer-events: all;
  text-align: center;
  text-transform: lowercase;
}

.themepicker-color {
  &:nth-child(1) {
    width: 3em;
    height: 3em;
  }

  width: 1.5em;
  height: 1.5em;
}